@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');


.todo-search{
  

    &__container{
        width: 20%;
       margin: 0 auto;
    }
    &__input{
        width: 100%;
        height: 60px;
        border-radius: 20px;
        border:none;
        font-size: 1rem;
        padding-left: 1rem;
        background-color: #040a1f;
        color:white;
        text-align: center;
        &::placeholder {
            font-family: 'Oxygen', sans-serif;
            color: rgba(255, 255, 255, 0.619);
            
          }
    }
   
}